<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team 3 Demo</title>
    <link href="/css/cover.css" type="text/css" rel="stylesheet">
    <script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="sample.js"></script>
</head>
<body>
  <form action = "/delete" method = post>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

        
        <div class="inner cover">	
		  
		  
<table id="infoTable">
            <tr>
                <td><label for="UserName">UserName:</label></td>
                <td><input type="text" name="user_name" id="user_name"></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input type="password" name="pwd" id="pwd"></td>
            </tr>
                <td><label for="securityQuestion1">Security Question:</label></td>
                <td><input type="text" name="securityQuestion1" id="securityQuestion1" value="Name of your first school"></td>
            </tr>
			<tr>
                <td><label for="securityAnswer1">Security Answer:</label></td>
                <td><input type="text" name="securityAnswer1" id="securityAnswer1" ></td>
            </tr>
			<tr>
			<td> <input type="submit" name="submit" value="Delete Account"/> 
			<td>
			</tr>
</table>

<p>



</p>

</div>

</div>
</div>
</div>
</div>
</div>
</form>
</body>
</html> 